<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserForm</title>
  </head>
  <body>
    <!-- <h2>Welcome to the HomePage</h2>
    <form action="post">
      <p>
        Hey, Its our first django project so lets get into it and make some cool
        websites
      </p>
      <div>
        <label for=""> USERNAME: </label> <input type="text" name="username" />
      </div>
      
      <div>
        <label for=""> FIRST NAME: </label> <input type="text" name="fname" />
      </div>

      <div>
        <label for=""> LAST NAME: </label> <input type="text" name="lname" />
      </div>

      <div>
        <label for=""> EMAIL-ADDRESS: </label> <input type="email"  name="email" />
      </div>
      
      <div>
        <label for=""> LOCATION: </label> <input type="text" name="location" />
      </div>
      
    </form> -->

    <header>
        <h1><a href="/">Django Blog</a></h1>
    </header>

    <article>
        <time>published: 10.02.2023, 12:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Hello guys, I am just beginner in django so here is my first demo site I made in django hence its just scratch but I'll make it attractive looking website with time</p>
    </article>

    <article>
        <time>published: 10.02.2023, 13:14</time>
        <h2><a href="">My second post</a></h2>
        <p>So far I have reached here and still working on VS Code with html and stuffs to keep coding </p>
    </article>

  </body>
</html>
